<div class="container content">
	<div class="row">
		<div class="col-md-4">
			Hola 
		</div>
		<div class="col-md-4">
			Mundoooo! 
		</div>		
		<div class="col-md-4">
			Bootstrap! 
		</div>	
	</div>
</div>
